﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="IDECheckList.SalesAgents.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
    <asp:LinkButton ID="lnkAddNewSalesAgentModal" CssClass="btn btn-success" runat="server" OnClick ="lnkAddNewSalesAgentModal_Click">
            <i class ="fa fa-plus"></i> Yeni satış təmsilçisi</asp:LinkButton>
    <div class="mb40"></div>
    <div class="mb40"></div>

    <div class="table-responsive">
        <asp:GridView ID="grdSalesAgents" class="table table-bordered table-hover table-success table-striped nomargin" runat="server" AutoGenerateColumns="False" DataKeyNames="RECORD_ID" GridLines="None">
            <Columns>
                <asp:BoundField DataField="CODE" HeaderText="KODU" />
                <asp:BoundField DataField="NAME" HeaderText="ADI" />
                <asp:BoundField DataField="NOTE" HeaderText="QEYD" />


                <asp:TemplateField>
                    <ItemTemplate>
                        <ul class="table-options">
                            <li>
                                <asp:LinkButton ID="lnkEditSalesAgents" OnClick ="lnkEditSalesAgents_Click"
                                    title="Redaktə et" runat="server"
                                    class="fa fa-pencil" CommandArgument='<%#Eval("RECORD_ID") %>'>
                                </asp:LinkButton>
                            </li>

                            <li>
                                <asp:LinkButton ID="lnkDeleteSalesAgents"   OnClick ="lnkDeleteSalesAgents_Click"
                                    title="Sil" runat="server"
                                    class="fa fa-trash" CommandArgument='<%#Eval("RECORD_ID") %>'>
                                </asp:LinkButton>
                            </li>
                        </ul>
                    </ItemTemplate>
                    <ItemStyle HorizontalAlign="Right" Width="100px" />
                </asp:TemplateField>
            </Columns>

        </asp:GridView>
        <asp:HiddenField ID="hdnDeleteSalesAgents" runat="server" />
        <asp:HiddenField ID="hdnEditSalesAgents" runat="server" />
    </div>




    <asp:UpdatePanel ID="UpdatePanel1" runat="server" UpdateMode="Conditional">
        <ContentTemplate>
            <!-- Modal  AddSalesAgent-->
            <div class="modal bounceIn" id="modalAddSalesAgent" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="modalAddSalesAgentLabel"><i class="fa fa-plus"></i>&nbsp&nbspYeni satış təmsilçisi</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        Kodu :
                                        <asp:TextBox ID="txtAddSalesAgentCode" autocomplete="off" placeholder="Kodu" MaxLength="51" runat="server" class="form-control" type="text"></asp:TextBox>
                                    </div>
                                    <div class="form-group">
                                        Adı:
                                       <asp:TextBox ID="txtAddSalesAgentName" autocomplete="off" MaxLength="150" placeholder="Adı" runat="server" class="form-control" type="text"></asp:TextBox>
                                    </div>

                                    <div class="form-group">
                                        Qeyd:
                                       <asp:TextBox ID="txtAddSalesAgentNote" TextMode="MultiLine" autocomplete="off" MaxLength="300" placeholder="Qeyd" runat="server" class="form-control" type="text"></asp:TextBox>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <img id="add_SalesAgent_loading" style="display: none" src="../img/loader1.gif" />
                            <asp:Button ID="btnSalesAgentAdd" class="btn btn-success" runat="server" Text="Əlavə et"
                                OnClick ="btnSalesAgentAdd_Click"
                                OnClientClick="this.style.display = 'none';
                                                           document.getElementById('add_SalesAgent_loading').style.display = '';
                                                           document.getElementById('btnSalesAgentAddCancel').style.display = 'none';" />
                            <button id="btnSalesAgentAddCancel" type="button" class="btn btn-default" data-dismiss="modal">İmtina et</button>
                        </div>
                    </div>
                </div>
            </div>
        </ContentTemplate>
        <Triggers>
            <asp:PostBackTrigger ControlID="btnSalesAgentAdd" />
        </Triggers>
    </asp:UpdatePanel>


    <asp:UpdatePanel ID="UpdatePanel2" runat="server" UpdateMode="Conditional">
        <ContentTemplate>
            <!-- Modal  EditSalesAgent-->
            <div class="modal bounceIn" id="modalEditSalesAgent" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="modalEditSalesAgentLabel"><i class="icon ion-edit"></i>&nbsp&nbspSatış təmsilçisi yenilənməsi</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        Kodu :
                                        <asp:TextBox ID="txtEditSalesAgentCode" autocomplete="off" placeholder="Kodu" MaxLength="51" runat="server" class="form-control" type="text"></asp:TextBox>
                                    </div>
                                    <div class="form-group">
                                        Adı:
                                       <asp:TextBox ID="txtEditSalesAgentName" autocomplete="off" MaxLength="150" placeholder="Adı" runat="server" class="form-control" type="text"></asp:TextBox>
                                    </div>

                                    <div class="form-group">
                                        Qeyd:
                                       <asp:TextBox ID="txtEditSalesAgentNote" TextMode="MultiLine" autocomplete="off" MaxLength="300" placeholder="Qeyd" runat="server" class="form-control" type="text"></asp:TextBox>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <img id="Edit_SalesAgent_loading" style="display: none" src="../img/loader1.gif" />
                            <asp:Button ID="btnSalesAgentEdit" class="btn btn-success" runat="server" Text="Yenilə"
                                OnClick ="btnSalesAgentEdit_Click"
                                OnClientClick="this.style.display = 'none';
                                                           document.getElementById('Edit_SalesAgent_loading').style.display = '';
                                                           document.getElementById('btnSalesAgentEditCancel').style.display = 'none';" />
                            <button id="btnSalesAgentEditCancel" type="button" class="btn btn-default" data-dismiss="modal">İmtina et</button>
                        </div>
                    </div>
                </div>
            </div>
        </ContentTemplate>
        <Triggers>
            <asp:PostBackTrigger ControlID="btnSalesAgentEdit" />
        </Triggers>
    </asp:UpdatePanel>


    <asp:UpdatePanel ID="UpdatePanel3" runat="server" UpdateMode="Conditional">
        <ContentTemplate>
            <!-- Modal  Alert-->
            <div class="modal bounceIn" id="modalAlert" data-backdrop="static">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="modalAlertLabel">
                                <asp:Literal ID="ltrAlertModalHeaderLabel" runat="server"></asp:Literal>
                        </div>
                        <div class="modal-body">
                            <p>
                                <asp:Literal ID="ltrAlertModalBodyLabel" runat="server"></asp:Literal>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <img id="delete_SalesAgent_loading" style="display: none" src="../img/loader1.gif" />
                            <asp:Button ID="btnSalesAgentDelete" class="btn btn-success" runat="server" Text="Bəli"
                                OnClick ="btnSalesAgentDelete_Click"
                                OnClientClick="this.style.display = 'none';
                                                           document.getElementById('delete_SalesAgent_loading').style.display = '';
                                                           document.getElementById('btnSalesAgentDeleteCancel').style.display = 'none';" />
                            <button id="btnSalesAgentDeleteCancel" type="button" class="btn btn-default" data-dismiss="modal">Xeyr</button>
                        </div>
                    </div>
                </div>
            </div>
        </ContentTemplate>
        <Triggers>
            <asp:PostBackTrigger ControlID="btnSalesAgentDelete" />
        </Triggers>
    </asp:UpdatePanel>



    <script type="text/javascript">

        function openAlertModal() {
            $('#modalAlert').modal({ show: true });
        }

        function openAddSalesAgentModal() {
            $('#modalAddSalesAgent').modal({ show: true });
        }

        function openEditSalesAgentModal() {
            $('#modalEditSalesAgent').modal({ show: true });
        }

    </script>
</asp:Content>
