﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="IDECheckList.MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>IDECheckList</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="lib/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="lib/select2/select2.css">
    <link rel="stylesheet" href="lib/dropzone/dropzone.css">
    <link rel="stylesheet" href="lib/Hover/hover.css" />
    <link rel="stylesheet" href="lib/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="lib/weather-icons/css/weather-icons.css" />
    <link rel="stylesheet" href="lib/ionicons/css/ionicons.css" />
    <link rel="stylesheet" href="lib/jquery-toggles/toggles-full.css" />
    <link rel="stylesheet" href="lib/jquery.gritter/jquery.gritter.css" />
    <link rel="stylesheet" href="lib/animate.css/animate.css" />
    <link rel="stylesheet" href="lib/timepicker/jquery.timepicker.css">
    <link rel="stylesheet" href="lib/bootstrapcolorpicker/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-select.css" />
    <link rel="stylesheet" href="css/quirk.css">
    <script src="../lib/modernizr/modernizr.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <script src="../lib/jquery/jquery.js"></script>
        <script src="../lib/jquery-ui/jquery-ui.js"></script>
        <script src="../lib/bootstrap/js/bootstrap.js"></script>
        <script src="../lib/jquery-toggles/toggles.js"></script>
        <script src="../lib/raphael/raphael.js"></script>
        <script src="../lib/flot/jquery.flot.js"></script>
        <script src="../lib/flot/jquery.flot.resize.js"></script>
        <script src="../lib/flot-spline/jquery.flot.spline.js"></script>
        <script src="../lib/jquery-knob/jquery.knob.js"></script>
        <script src="../lib/jquery.gritter/jquery.gritter.js"></script>
        <script src="../lib/jquery-autosize/autosize.js"></script>
        <script src="../lib/select2/select2.js"></script>
        <script src="../lib/jquery-toggles/toggles.js"></script>
        <script src="../lib/jquery-maskedinput/jquery.maskedinput.js"></script>
        <script src="../lib/timepicker/jquery.timepicker.js"></script>
        <script src="../lib/dropzone/dropzone.js"></script>
        <script src="../lib/bootstrapcolorpicker/js/bootstrap-colorpicker.js"></script>
        <script src="../lib/datatables/jquery.dataTables.js"></script>
        <script src="../lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
        <script src="../js/quirk.js"></script>
        <script src="../lib/bootstrap/js/bootstrap-select.js"></script>
        <script>
            function jsAlert(_title, _message, _type) {
                var iconn;
                if (_type == 'success') iconn = 'check-circle';
                if (_type == 'danger') iconn = 'times-circle';
                if (_type == 'warning') iconn = 'exclamation-circle';
                $.gritter.add({
                    title: _title,
                    text: _message,
                    class_name: 'with-icon ' + iconn + ' ' + _type
                });
                if (_type == 'success') $('.gritter-item').css('background-color', '#6ab71c');
            }
        </script>
        <script>
            $(function () {
                $('.datepicker').datepicker({
                    dateFormat: 'dd.mm.yy'
                });
            });

            $(function () {
                $('.datepicker_mmyy').datepicker({
                    dateFormat: 'mm/yy'
                });
            });
        </script>
        <link href="../css/custom_css.css" rel="stylesheet" />

        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
        <header>
            <div class="headerpanel">
                <div class="logopanel">
                    <h2><a href="#">IDE Check List</a></h2>
                </div>
                <div class="headerbar">
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                    <div class="header-right">
                        <ul class="headermenu">
                            <li>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-logged" data-toggle="dropdown">
                                        <asp:Literal ID="ltrUserHeaderImage" runat="server"></asp:Literal>
                                        <asp:Literal ID="ltrUserHeaderName" runat="server"></asp:Literal>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                         <li><a href="/changepassword"><i class="glyphicon glyphicon-user"></i>Şifrəni dəyiş</a></li>
                                        <li><a href="/exit"><i class="glyphicon glyphicon-log-out"></i>Çıxış</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="leftpanel">
                <div class="leftpanelinner">

                    <div class="media leftpanel-profile">
                        <div class="media-left">
                            <a href="#">
                                <asp:Literal ID="ltrUserHeaderImage_1" runat="server"></asp:Literal>
                                <!-- <img src="../images/photos/loggeduser.png" alt="" class="media-object img-circle">-->
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <asp:Literal ID="ltrUserHeaderName_1" runat="server"></asp:Literal>
                                <a data-toggle="collapse" data-target="#loguserinfo" class="pull-right"><i class="fa fa-angle-down"></i></a></h4>
                            <span>
                                <asp:Literal ID="ltrUserPosition" runat="server"></asp:Literal></span>
                        </div>
                    </div>


                    <div class="tab-content">
                        <div class="tab-pane active" id="mainmenu">
                            <h5 class="sidebar-title"></h5>
                            <ul class="nav nav-pills nav-stacked nav-quirk">
                                <asp:Literal ID="ltrLeftMenu" runat="server"></asp:Literal>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="mainpanel">
            <div class="contentpanel">
                <ol class="breadcrumb breadcrumb-quirk">
                    <asp:Literal ID="ltrContentHeaderMenuMain" runat="server"></asp:Literal>
                    <asp:Literal ID="ltrContentHeaderMenu1" runat="server"></asp:Literal>
                    <asp:Literal ID="ltrContentHeaderMenu2" runat="server"></asp:Literal>
                </ol>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>


        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
